@{
    ViewData["Title"] = "Register";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="shortcut icon"
          href="/img/title-logo.png"
          type="image/x-icon" />

    <link rel="stylesheet" href="@Url.Content("~/css/login/register.css")">


    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <div class="container">
        <div class="registration-container">
            <div class="register-logo">
                <img src="css/images/title-logo.png" alt="" />
                <h1 class="tnc">TOP-NOTCH</h1>
            </div>

            <div class="register-header">
                <h1>Sign Up</h1>
                <p>Please fill the details to sign up.</p>
            </div>

            <form method="post" id="regform" onsubmit="successForm(event)" asp-action="Register">
                <div class="register-form">
                    <div class="user-input-box">
                        <input type="text" name="name" placeholder="Name" required />
                    </div>

                    <div class="user-input-box">
                        <select name="position" required>
                            <option disabled selected hidden>Position</option>
                            <option value="OPERATION MANAGER">OPERATION MANAGER</option>
                            <option value="TIMEKEEPER">TIMEKEEPER</option>
                            <option value="SENIOR OPERATION MANAGER">SENIOR OPERATION MANAGER</option>
                            <option value="INSPECTOR MANAGER">INSPECTOR MANAGER</option>
                            <option value="ACCOUNTING">ACCOUNTING</option>
                        </select>
                    </div>

                    <div class="user-input-box">
                        <input type="text"
                               name="username"
                               placeholder="Username"
                               required />
                        @Html.ValidationMessage("Username", "", new { @class = "username-taken" })
                    </div>
                    <div class="user-input-box">
                        <select name="UserType" required>
                            <option disabled selected hidden>User Type</option>
                            <option value="admin">Admin</option>
                            <option value="user">User</option>
                        </select>
                    </div>

                    <div class="user-input-box">
                        <input type="email" name="email" placeholder="Email" required />
                        @Html.ValidationMessage("Email", "", new { @class = "email-taken" })
                    </div>

                    <div class="user-input-box">
                        <input type="password"
                               name="password"
                               id="passwordInput"
                               placeholder="Password" />
                        <i class="fa-regular fa-eye-slash password-toggle"
                           id="passwordToggle"></i>
                    </div>

                    <div class="user-input-box">
                        <input type="password"
                               name="confirmpassword"
                               id="confirmPasswordInput"
                               placeholder="Confirm Password" />
                        <i class="fa-regular fa-eye-slash password-toggle2"
                           id="passwordToggle2"></i>
                    </div>
                </div>

                <div class="register-btn">
                    <input type="submit" value="Register" />
                </div>

                <hr class="line" />

                <div class="register-links">
                    <p>
                        Already have an account?
                        <a href="@Url.Action("Login", "User")">Login!</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
@*     <script>
        function successForm(event) {
            event.preventDefault();

            // Get form element
            var form = document.getElementById('regform');

            // Check if the form is valid
            if (form.checkValidity()) {
                Swal.fire({
                    title: "Registered Successfully",
                    text: "Thank You",
                    icon: 'success',
                    confirmButtonColor: '#ffbb00',
                }).then((result) => {
                    if (result.isConfirmed) {
                        form.submit();
                    }
                });
            } else {
                Swal.fire({
                    title: "Registration Unsuccessful",
                    text: "Please fill in all required fields correctly",
                    icon: 'warning',
                    confirmButtonColor: '#ffbb00',
                });
            }
        }
    </script> *@
</body>
</html>


