@{
    Layout = "_OMDashboard";
}
<body>
    <h1>DASHBOARD</h1>
    <div>
        <h2>For Approval: @ViewBag.ApprovedEmployeeCount</h2>
    </div>
    <div>
        <h2>For Checking: @ViewBag.DeniedBySOM</h2>
    </div>
</body>

