@{
    Layout = "_Accounting";
}
<body>
    <h1>DASHBOARD</h1>
    <div>
        <h2>For Approval: @ViewBag.ApprovedByIM</h2>
    </div>
    <div>
        <h2>List of Hires: @ViewBag.ApprovedEmployeeCount</h2>
    </div>
</body>

