@{
    Layout = "_timekeeper";
}
<body>
    <h1>DASHBOARD</h1>
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">For Checking: @ViewBag.DeniedByOM</h2>
            <button><a href="/User/tkdeny"><i class="fas fa-user fa-lg"></i>View Details</a></button>
        </div>
    </div>
</body>
